.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
	background-color: #000;
	border-color: #000;
}

.el-checkbox__input.is-checked+.el-checkbox__label{
	color: #000;
}
.el-form-item{
	margin-bottom: 10px;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
	border-color: #eee;
}
.el-form-item__error{
	padding-top: 0;
	top: 83%;
}